.todoItem{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: white;
    margin: 6px 4px;
    height: 40px;
    border-radius: 12px;
}

.todoItem > p{  
    flex: 1;
    width: 50%;
    word-wrap: break-word;
    /* border: 2px solid black; */
    padding: 2em;
}

